.your_comment{
    display: flex;
    align-items: center;
}
.write-comment{
    width: 100%;
    overflow:hidden;
   
}
.write-comment input{
    width: 90%;
    margin: 0px 20px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #656565;
    background-color: #fdf9f9;
    outline: none;
    font-size: 19px;
    font-family: sans-serif;
}